:root {
  --headline-font: "Playfair Display", serif;
  --p-font: "Old Standard TT", serif;
}

body {
  margin: 0;
}

.studentlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0px 50px 0px 50px;
}

h1 {
  font-family: var(--headline-font);
  font-weight: 400;
}

h2 {
  font-family: var(--p-font);
  font-weight: 700;
}
p {
  font-family: var(--p-font);
}
.headline {
  text-align: center;
  font-family: var(--headline-font);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  text-shadow: 2px 2px 5px #363636;
  color: whitesmoke;
}
.subheadline {
  text-align: center;
  font-family: var(--headline-font);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px #363636;
  color: whitesmoke;
}

.splash {
  background-image: url(img/homebg.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  margin-bottom: 2em;
  position: relative;
}

.dropdowns {
  text-align: center;
  font-family: var(--p-font);
}

.student {
  margin: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 2px 4px 1px rgba(128, 128, 128, 0.47);
  background-color: rgb(250, 248, 248);

  transition: 500ms linear;

  /*Place transition here*/
}

#popup {
  width: 40vw;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 10px;
  text-align: center;
}

.hide {
  display: none;
}

#content {
  border-radius: 10px;
}

.text-content {
  left: 40vw;
}

.crest {
  width: 100%;
  text-align: right;
  margin-top: -110px;
}

.crest img {
  height: 100px;
}

#close-popup {
  box-sizing: border-box;
  font-size: 1.5em;
  color: whitesmoke;
  z-index: 1;
  text-align: right;
  font-family: sans-serif;
  cursor: pointer;
  padding-right: 10px;
}

.close-list {
  box-sizing: border-box;
  font-size: 1.5em;
  color: whitesmoke;
  font-family: sans-serif;
  cursor: pointer;
  padding-right: 10px;
  position: fixed;
  top: 1vw;
  right: 6px;
}

.hide {
  display: none;
}

img {
  height: 150px;
  padding-top: 20px;
}

.gryffindor {
  background-image: linear-gradient(to right, #400001, #740002, #8a292b);
}
.ravenclaw {
  background-image: linear-gradient(to right, #0e1a40, #1f388c, #49598c);
  color: whitesmoke;
}
.slytherin {
  background-image: linear-gradient(to right, #1a472a, #41614c, #379457);
  color: whitesmoke;
}
.hufflepuff {
  background-image: linear-gradient(to right, #ba922d, #ecb939, #f0d182);
}

button {
  height: 20px;
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 5px 2px 4px 1px rgba(128, 128, 128, 0.47);
  cursor: pointer;
}

.counter button {
  height: 4vh;
  width: 19vw;
  font-family: var(--p-font);
}

.counter button:hover {
  width: 20vw;
  height: 4.5vh;
  font-size: 1.4em;
}

button:hover {
  height: 22px;
  font-size: 0.8em;
}

.expell {
  background-color: rgb(235, 89, 89);
}

.list {
  width: 50vw;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow: scroll;
  background-color: rgb(133, 104, 104);
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
}

.list h1 {
  text-align: center;
  grid-area: 1 / span 2;
}

.green {
  background-color: rgb(235, 89, 89);
  cursor: pointer;
}

.student-expelled {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  border-bottom: 1px black solid;
  margin: 20px;
  padding-bottom: 20px;
}

.student-expelled:last-child {
  border-bottom: none;
}

.student-expelled h1 {
  text-align: left;
}

.counter {
  text-align: center;
}

.count-house {
  display: flex;
  padding-right: 10px;
  justify-content: space-evenly;
}
.count-house p {
  border-right: 1px black solid;
  padding-right: 30px;
}

.count-house p:last-child {
  border-right: none;
}

.count-exp {
  font-size: 1.2em;
}
.count-stud {
  font-size: 1.2em;
}

.not-allowed {
  background-color: red;
  cursor: initial;
}
.not-allowed:hover {
  height: 20px;
  font-size: 11px;
}

.removeprefect {
  background-color: green;
}

.remove {
  opacity: 0;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 970px) {
  .studentlist {
    margin: 0;
  }

  .counter button {
    width: 25vw;
  }
  #popup {
    width: 60vw;
    height: 80vh;
  }
}

@media screen and (max-width: 860px) {
  .studentlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 817px) {
  .count-house p {
    padding-right: 8px;
  }
}

@media screen and (max-width: 737px) {
  .counter button {
    width: 30vw;
  }
}

@media screen and (max-width: 614px) {
  .counter button {
    width: 38vw;
  }
}

@media screen and (max-width: 485px) {
  .counter button {
    width: 45vw;
  }
  .studentlist {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
  }
  .count-house {
    display: inline;
    justify-content: center;
  }
  .counter {
    text-align: left;
    margin-left: 30vw;
  }
  button {
    margin: 0px 10px 10px -10px;
  }
  .dropdowns {
    text-align: left;
    margin-left: 20vw;
  }
  #popup {
    width: 100vw;
    height: 100vh;
  }
  .gryffindor {
    background-image: linear-gradient(to right, #400001e0, #740002e0, #8a292bdc);
  }
  .ravenclaw {
    background-image: linear-gradient(to right, #0e1a40da, #1f388ce3, #49598cdc);
    color: whitesmoke;
  }
  .slytherin {
    background-image: linear-gradient(to right, #1a472ad7, #41614cd7, #379458de);
    color: whitesmoke;
  }
  .hufflepuff {
    background-image: linear-gradient(to right, #ba922de7, #ecb939e5, #f0d182e0);
  }
}
